/* HOME VIEW */

.bkgrnd-home {   
    display: flex; 
	justify-content: center;
	align-items: center;
}

.img-wrap-home {
    width: 100%;
}

    .img-wrap-home img {
        width: 290px;
    }

/*  CARD VIEW */
.background {
    background: #eee;
}

.main-wrapper {
    width: 100%;
}

.ion-home {
    position: absolute;
    left: 0;
}

a {
    color: #ddd;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 100;
}

.item-body h3 {
    font-size: 18px;
    margin-top: 4px;
}

.loading {
    margin-top: 150px;
    text-align: center;
}

    .loading p {
        font-size: 18px;
        margin-top: 10px;
    }

.item h2 {
    margin: 0;
    font-size: 30px;
    padding: 0 5px;
}

.card {
    text-align: center;
    margin: 20px;
}

    .card img {
        min-width: 290px;
        border-radius: 10px;
        margin-top: 10px;
    }
    
.img-wrap {
    text-align: center;
}
    
.text-wrap {
    width: 290px;
    margin: 0 auto;
    text-align: left;
}

    .text-wrap p {
        font-size: 16px;
        color: #333;
    }
    
#sml {
    font-size: 12px;
}

.button {
    margin: 0 auto;
}