.background {
    background: #eee;
}

.main-wrapper {
    margin-top: 15px;
    /*border: 10px solid red;*/
    width: 100%;
}

a {
    color: #ddd;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 100;
}

.loading {
    margin-top: 150px;
    text-align: center;
}

    .loading p {
        font-size: 18px;
        margin-top: 10px;
    }

.item h2 {
    margin: 0;
    font-size: 30px;
    padding: 0 5px;
}

.card {
    text-align: center;
    margin: 20px;
}

    .card img {
        min-width: 290px;
        border-radius: 10px;
        margin-top: 10px;
    }
    
.img-wrap {
    text-align: center;
}
    
.text-wrap {
    width: 290px;
    margin: 0 auto;
    text-align: left;
}

.button {
    margin: 0 auto;
}